
body{
    color: #40514E;
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
  }
  h1{
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #66BFBF;
    font-weight: normal;
    padding: 10px;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }
  p{
    line-height: 2;
  }
  hr{
    border: dotted #a0c1b8 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }
  .top-container{
    background-color:#ddf3f5;
    position: relative;
    padding-top: 100px;
  
  }
  .middle-container{
  margin: 100px 0;
  }
  .bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  }
  .skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  .civil{
    text-decoration: underline;
  }
  .top-cloud{
    position: absolute;
    right:300px;
    top: 50px;
  
  }
  .bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
  }
  
  
  .team-leader{
    width: 25%;
    float: right;
    margin-left: 30px;
  
  }
  .civil-eng{
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .intro{
    width: 30%;
    margin: auto;
  }
  .contact-massage{
    width: 40%;
    margin: 40px auto 60px;
  }
  .copy{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  .btn{
      border: solid 1px rgb(12, 12, 233);
  }
  
  .btn:hover {
    background: #30E3CB;
    
    text-decoration: none;
  }
  body ol li{
    width: 30%;
    margin: auto;
    line-height: 2;
  }
  
.skills{
  margin-top: 50px;
}